{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript">
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        var greenIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
          });
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<img width="300" src="${props.picture_url}"/><h3>${props.assunto}</h3><p>${props.descricao}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    {% leaflet_map "main" %}
  </body>
</html>
