<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
{% load staticfiles %}
{% load octicons %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
        <title>Caipora! Faça sua denúncia e mobilize-se socialmente</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    </head>
    <body>
        <header id="header">
            <nav class="ui inverted secondary text menu">
                <div class="ui container">
                    <div id="logo" class="inverted item">Caipora</div>
                    <div class="right menu">
                        <a href="{% url 'home' %}" class="item">Home</a>
                        {% block menu %}
                        {% endblock %}
                        <a href="{% url 'nova_denuncia' %}" class="item">
                            <button class="ui inverted green button">Manifestar!</button>
                            <a href="{% url 'mapa_principal' %}" class="item">
                            <button class="ui inverted red button">Agora!</button>
                        </a>
                    </div>
                </div>
            </nav>
        </header>


        {% block content %}
          {% endblock %}

        <footer class="ui inverted vertical stripe footer segment">
        <div id="rodape" class="ui container grid">
            <div class="four wide column">
                © Caipora, 2018
            </div>
            <div class="four wide right floated right aligned column">
                <a href="#" class="link-top">Topo</a>
            </div>
        </div>
    </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script type="text/javascript" src="{% static 'frontend/js/index.js' %}"></script>

        <script type="text/javascript" src="{% static 'frontend/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/popper.js' %}"></script>

    </body>
</html>