{% extends 'base/base.html' %}
{% load staticfiles %}

{% block menu %}

    <a href="#sobre" class="item">Sobre</a>
    <a href="#como-funciona" class="item">Como funciona</a>
{% endblock %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
</head>
<body>
<div id="header-img" class="ui vertical stripe segment">
        <img src="{% static 'img/main.jpg' %}">
    </div>

    <div class="ui vertical stripe segment">
        <div id="sobre" class="ui container grid">
            <div class="sixteen wide column">
                <div class="ui center aligned header">Sobre nós</div>
            </div>
            <div class="sixteen wide column">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div id="como-funciona" class="ui grid container">

            <div class="sixteen wide column">
                <div class="ui center aligned header">Como funciona</div>
                <br/>

            </div>
            <div class="three column row">
                <div class="center aligned column">
                    <div class="ui  number">
                        1
                    </div>
                    <div class="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="center aligned column">
                    <div class="ui  number">
                        2
                    </div>
                    <div class="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="center aligned column">
                    <div class="ui number">
                        3
                    </div>
                    <div class="content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}